.App {
  display: flex;
  flex-direction: column;
  background: #021efd;
  height: 100vh;
}

main {
  display: flex;
  flex: 1;
  background: white;
  padding: 0 20px;
  overflow: auto;
}

footer {
  height: 100px;
  background: #424242;
}
