.App {
  display: flex;
  flex-direction: column;
  background: #021efd;
  height: 100vh;
}

header {
  height: 100px;
  background: #585858;
}
main {
  display: flex;
  flex: 1;
  background: #eaeaea;
}

footer {
  height: 100px;
  background: #585858;
}
